src/ephemeralizer/__pycache__/__init__.cpython-312.pyc
src/ephemeralizer/__pycache__/__main__.cpython-312.pyc
src/ephemeralizer/__pycache__/cli.cpython-312.pyc
test_local/23120050_10209936812487448_3507058883442080578_o.jpg
test_local/baz/3fbcc4926427accc15775f41d9875baa.jpg
test_local/baz/8kyksz2cnpe41.jpg
test_local/test2/6cJH89.gif
test_local/test2/foo/419.jpeg
test_local/test2/foo/501st-and-Chad.jpg
CONTEXT_LOCAL.SH
build/
src/ephemeralizer.egg-info/
